body {
  width: 100%;
  height: 100%;
  margin: 0;
}

h1 {
  text-align: center;
}

img {
  width: 50%;
  margin:auto;
  display: block;
}

nav {
  padding-right:10px;
  padding-left:10px;
  background-color: gray
}