body {
  width: 100%;
  height: 100%;
  margin: 0;
}

h1 {
  text-align: center;
}

img {
  width: 100%;
  margin:auto;
  display: block;
}
nav {
  text-align: center;
}
nav a {
  padding-right:10px;
  padding-left:10px;
  background-color: red
}
figcaption {
  text-align: center;
  font-size: 15px;
}
#featured-property {
  text-align: center;
  width:800px;
  margin:auto;
}
details{
  display: block;
}
div {
  float: left;
  background-color: red;
  text-align: center;
  width: 25%;
  
}
