body {
  width: 100%;
  height: 100%;
  margin: 0;
}

h1 {
  text-align: center;
}

img {
  width:900px;
  margin:auto;
  display: block;
}
nav {
  text-align: center;
}
nav a {
  padding-right:10px;
  padding-left:10px;
  background-color: red
}
figcaption {
  text-align: center;
  font-size: 15px;
}
p featured-property{
  text-align: center;
  width:800px;
}
